* {
  ::selection {
    background: opacify($themeColorPrimary, .2); /* Safari */
    color: #fff;
    }
  ::-moz-selection {
    background: opacify($themeColorPrimary, .2); /* Firefox */
    color: #fff;
  }
  @include backface-visibility(hidden);
}
html{
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}
body{
  @extend %serif;
  color: #333;
  margin: 0;
  padding: 0;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.check-if-mobile{
  @include media(max-width $bp-med, 1) {
    display: none;
  }
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.wrapper{
  @include outer-container;
}

a{
  color: darken($themeColorPrimary, 20%);
  text-decoration: none;
}
a:hover{
  color: darken($themeColorPrimary, 30%);
}

.hidden{
  opacity: 0 !important;
}
.is-sticky{
  .project-nav{
    box-shadow: 0px 1px 0px rgba(0,0,0,0.18);
  }
}

.loading-spinner{
  @extend %quick-transition;
  @include position(absolute, 10px 0 0 50%);
  @include size(5em);
  @include transform(scale(.4));
  margin: 0 0 0 -2.5em;
  border-radius: 50%;
  pointer-events: none;
  z-index: 999;
  -webkit-filter: blur(2px);
}
.circle {
  @include size(5em);
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
}
.circle:after {
  @include size(4em);
  @include position(absolute, 0px 0 0px 50%);
  content: "";
  border-radius: 50%;
  background: #ffffff;
  margin: auto auto auto -2em;
}
.loader {
  @include size(5em);
  @include position(absolute, 0px 0 0px 50%);
  background: #fff;
  border-radius: 50%;
  margin: auto auto auto -2.5em;
}
.loader:after {
  @include position(absolute, 0px 0 0px 0);
  @include animation(spin .34s infinite linear);
  content: "";
  margin: auto;
  border-radius: 50%;
  border: 2.5em solid $themeColorPrimary;
  border-top: 2.5em solid rgba(0,0,0,0);
  border-left: 2.5em solid rgba(0,0,0,0);
}
@include keyframes(spin) {
  0% {
    @include transform(rotate(0deg));
  }
  100% {
    @include transform(rotate(360deg));
  }
}

.page-content{
  position: relative;
  clear: both;
  min-height: 800px;
  // border: 10px solid $themeColorPrimary;
  // border-top: none;
  // border-bottom: none;
  background: #fff;
  padding: 50px 0 0 0;

  @include media(max-width $bp-med, 1) {
    padding: 50px 0 0 0;

  }
}
section{
  @include clearfix;
  margin: 0 0 80px 0;
}
section header{
  @extend %quick-transition;
  @extend %serif;
  @include user-select(none);
  font-size: 1.3em;
  font-style: italic;
  text-align: center;
  color: #777;
  cursor: default;

  &:after{
    content: "––";
    display: block;
    margin: .2em 0 .5em;
    color: #ddd;
  }
}
.notice{
  position: relative;
  width: 100%;
  background: $themeColorPrimary;
  padding: .8em 0;
  text-align: center;
  font-size: 1.4em;
  z-index: 999;
  color: darken($themeColorPrimary, 40%);
  cursor: default;
  float: left;

  a{
    color: darken($themeColorPrimary, 50%);
    text-decoration: none;
    border-bottom: 1px solid darken($themeColorPrimary, 20%);

    &:hover{
      border-bottom: 1px solid darken($themeColorPrimary, 30%);
    }
  }
  @include media(max-width $bp-med, 1) {
      font-size: 1.1em;
      padding: 1.2em 0;

      span{
        position: relative;
        display: block;
        margin: 0 0 7px 0;
        color: darken($themeColorPrimary, 50%);
      }
  }
}
