* {
  ::selection {
    background: opacify($themeColorPrimary, .2); /* Safari */
    color: #fff;
    }
  ::-moz-selection {
    background: opacify($themeColorPrimary, .2); /* Firefox */
    color: #fff;
  }
  @include backface-visibility(hidden);
}
html{
  // @extend %debug-layout;
  @include respond-to(handhelds) { font-size: 62.5%; }
  @include respond-to(md-screen) { font-size: 72%; }
  @include respond-to(lg-screen) { font-size: 80%; }
  @include respond-to(x-lg-screen) { font-size: 80%; }
  @include respond-to(xx-lg-screen) { font-size: 100%; }
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  background: #fff;
}
body{
  @extend %serif;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  color: #333;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
  text-rendering: optimizeLegibility !important;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.check-if-mobile{
  @include media(max-width $bp-med, 1) {
    display: none;
  }
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.wrapper{
  @include outer-container;
  position: relative;
  margin: 0 3rem;

  max-width: none !important;
}

a{
  color: darken($themeColorPrimary, 20%);
  text-decoration: none;
  letter-spacing: -0.08rem;
}
a:hover{
  color: darken($themeColorPrimary, 30%);
}

.hidden{
  opacity: 0 !important;
}
.is-sticky{
  .project-nav{
    box-shadow: 0px 1px 0px rgba(0,0,0,0.18);
  }
}

img{
  max-width: 100%;
}

p{
  text-align: left;
  margin: 0;
  padding: 0;
}

section{
  position: relative;
  float: left;
  width: 100%;
  padding: 5rem 0;
  z-index: 1;
  overflow: hidden;
}

.btn{
  position: relative;
  display: inline-block;
  text-align: center;
  border-radius: 6rem;
  padding: 1.4rem 3rem;
  font-weight: 600;
  color: hsla(20, 67%, 39%, 1);;
  font-size:2rem;
  border: 0.3rem solid $techshed;
}
.btn-arrow{

}



