.project-window{
  @include transition(opacity .4s $ease-in-out-quad);
  position: relative;

  &.hidden{
    height: 800px;
  }
}

.recent-work{

  .project-item{
    @include span-columns(6);
    @include omega(2n);
    height: 18em;

    @include media(min-width 320px max-width 480px, 1) {
        @include span-columns(1);
    }
  }
  .project-item__title{
    font-size: 2.1em;
  }
}

.skills{
  line-height: 1.5;
  color: #444;
  text-align: center;
  border-top: 1px solid #ddd;
  padding: 70px 0 0;

  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-weight: 600;
  }
  li{
    margin: 0 0 26px;
  }
  h3{
    @extend %sans-serif;
    margin: 0;
    font-size: 1.3em;
    line-height: 1.7;
  }
  span{
    color: #999;
    font-weight: normal;
    font-size: 1.1em;
  }
  @include media(min-width 320px max-width 480px, 1) {
      h3{
        font-size: 1.2em;
        line-height: 1.5;
      }
      span{
        font-size: .9em;
      }
  }
}

.contact{
  text-align: center;

  h2{
    color: #444;
  }
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li{
    display: inline-block;
    margin: 0 4px;
  }
  @include media(min-width 320px max-width 480px, 1) {
      a{
        font-size: 1.2em;
        padding: 0 px;
      }
  }
}