.project-window{
  @include transition(opacity .4s $ease-in-out-quad);
  position: relative;

  &.hidden{
    height: 800px;
  }
}

.recent-work{
  .project-item{
    @include span-columns(6);
    @include omega(2n);
    height: 18rem;

    @include media(min-width 320px max-width 480px, 1) {
        @include span-columns(12);
    }
  }
  .project-item__title{
    font-size: 2.1em;
  }
}

.older-work{
    text-align: center;
    .project-item{
        @include span-columns(4);
        height: 12rem;
        display: inline-block;
        float: none;
        @include media(max-width 800px, 1) {
            @include span-columns(6);
            @include omega(10n);
            margin: 0 !important;
        }
        @include media(max-width 480px, 1) {
            @include span-columns(12);
            @include omega(10n);
        }

    }

    .project-item__title{
        font-size: 1.6em;
     }
}

.skills{
  line-height: 1.5;
  color: #444;

  ul{
    @include outer-container;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-weight: 600;

  }
  li{
      @include span-columns(6);
      margin: 0 15% 0;
      @include omega(2n);
    margin: 0 0 26px;
    padding: 0 3% 0;
    @include media(min-width 320px max-width 480px, 1) {
        @include span-columns(12);
    }
  }
  h3{
    @extend %sans-serif;
    margin: 0;
    font-size: 1.3em;
    line-height: 1.7;
  }
  span{
    color: #999;
    font-weight: normal;
    font-size: 1.1em;
  }
  @include media(max-width $bp-small-3, 1) {
      h3{
        font-size: 1.2em;
        line-height: 1.4;
        margin: 0 0 4px;
      }
      span{
        font-size: 1em;
      }
  }
}

.contact{
  text-align: center;

  h2{
    color: #444;
  }
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li{
    display: inline-block;
    margin: 0 4px;
  }
  @include media(min-width 320px max-width 480px, 1) {
      a{
        font-size: 1.2em;
        padding: 0 px;
      }
  }
}

.sourcecode{
  text-align: center;
  color: #888;

  a{
    color: #888;
    text-decoration: underline;
  }
}
