.when{
  @extend %monospace;
  text-transform: lowercase;
  font-weight: 400;
  opacity: 0.8;
}

.currently, .previously{
  display: block;
  margin: 0 0 0 0;
  padding: 20rem 0;
  background-attachment: fixed;
  background-size: 50% 27%;

  h1{
    margin: 2rem 0 4rem 0;
    @include span-columns(12);
  }
  p{
    @include span-columns(8);
    margin: 0 0 3rem 0;
  }
  .home-depot-logo{
    @include span-columns(4);

    img{
      @include size(8rem);
    }
  }
}
.previously{

  h1{
    font-size: 3.4rem;
  }
}

.vuact{
  background: #fff;
  background: HSLA(242, 33%, 57%, 0.1);
  background-attachment: fixed;

  a{
    color: $vuact;
    border-bottom: 0.4rem solid HSLA(245, 36%, 37%, 0.2);
  }
  p, h1, h2, h4 {
    color: HSLA(242, 39%, 40%, 1);
  }
  .when{
    color: HSLA(242, 39%, 40%, 0.6);
  }
}

.techshed{
  background: $techshed;
  @include linear-gradient(#FB6200, #FFA731);
  background-attachment: fixed;

  a{
    color: #fff;
    border-bottom: 0.3rem solid rgba(255,255,255,0.4);
  }
  p, h1, h2, h4{
    color: #fff;
  }
  h2{
    color: hsla(20, 67%, 27%, 1);
    font-size: 2.3rem;
  }

  .when{
    color: rgba(255,255,255,1);
  }
}

.causelabs{
  background-image: url(../images/layout/causelabs-logo.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 43%;
  background-color: HSLA(2, 82%, 58%, 1);
  color: #fff;

  a{
    color: #fff;
    border-bottom: 0.3rem solid rgba(255,255,255,0.4);
  }
}


.home-depot-link{
  position: relative;
  padding-left: 3.8rem;
  font-weight: 500;
  margin-left: 0.6rem;
}

.home-depot-link:before{
  @include size(3rem);
  content: '';
  display: inline-block;
  position: absolute;
  left: 0;
  top: -0.1rem;

  background: url("/images/layout/homedepot-logo.png");
  background-size: cover;
}
