.page-header{
  position: relative;
  height: 400px;
  width: 100%;
  margin-bottom: 0;
  background-color: darken($themeColorPrimary, 45%);

  a{
    color: #c3f777;
    text-decoration: none;
    font-size: 1.1em;
  }
  a:hover{
    color: darken(#c3f777, 10%);
  }
}
.page-header__bg{
  @include size(100%);
  @include position(absolute, 0px 0px 0px 0px);
  opacity: .95;
  background-image: url(/images/layout/bg-page-header.jpg);
  background-size: cover;
  z-index: 1;
}
.page-header__content{
  position: relative;
  padding-top: 4em;
  text-align: center;
  color: #fff;
  cursor: default;
  z-index: 2;

  span{
    display: block;
  }
  .name{
    font-size: 2.5em;
    margin: .3em 0 .1em;
  }
  .occupation{
    font-size: 1.5em;
    font-style: italic;
    font-weight: 100;
  }
  .links{
    list-style-type: none;
    margin: 0;
    padding: 0;

    &:before{
      content: "––––––––";
      color: #c3f777;
      opacity: .5;
      display: block;
      margin: .5em 0 .8em;
    }

    li{
      display: inline-block;
      padding: 0 .6em;
    }
  }
  @include media(min-width 320px max-width 480px, 1) {
      .name{
        font-size: 2.2em;
      }
      .occupation{
        font-size: 1.3em;
      }
      .links{
        font-size: 1.3em;
      }
  }
}