.page-header{
  @extend %vertically-center-children;
  position: relative;
  height: 500px;
  width: 100%;
  margin-bottom: 0;
  background-color: darken($themeColorPrimary, 45%);

  a{
    color: #c3f777;
    text-decoration: none;
    font-size: 1.1em;
  }
  a:hover{
    color: darken(#c3f777, 10%);
  }
}
.page-header__bg{
  @include position(absolute, 0px 0px 0px 0px);
  background-image: url(/images/layout/bg-page-header.jpg);
  background-size: cover;
  background-position: center;
  z-index: 1;
  opacity: 1;
  @include transition(opacity 1.5s $ease-in-out-quad);
}
.page-header__content{
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  color: #fff;
  cursor: default;
  z-index: 2;

  &.hidden{
    .me, .name, .occupation, .links{
      opacity: 0;
    }
    .me{
    }
  }

  .me{
    @extend %slower-transition;
    @include size(130);
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #c3f777;
    @include transition-delay(.2s);
  }
  span{
    display: block;
  }
  .name{
    font-size: 3.2em;
    margin: .3em 0 .1em;
    @extend %slower-transition;
    @include transition-delay(.3s);
  }
  .occupation{
    font-size: 1.6em;
    font-style: italic;
    font-weight: 100;
    @extend %slower-transition;
    @include transition-delay(.4s);
  }
  .links{
    list-style-type: none;
    margin: 0;
    padding: 0;
    @extend %slower-transition;
    @include transition-delay(.5s);

    &:before{
      content: "––––––––";
      color: #c3f777;
      opacity: .5;
      display: block;
      margin: .5em 0 .8em;
    }

    li{
      display: inline-block;
      padding: 0 .6em;
    }
  }
  @include media(min-width 320px max-width 480px, 1) {
      .name{
        font-size: 2.2em;
      }
      .occupation{
        font-size: 1.3em;
      }
      .links{
        font-size: 1.3em;
      }
  }
}