/*  Project List
--------------------------------------------------------------------------------------------*/

.project-list{
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
	@include outer-container;
}
.project-item{
	@extend %vertically-center-children;
	@extend %sans-serif;
	@include span-columns(4);
	@include omega(3n);
	@include transition(all .13s $ease-in-out-quad);
	@include user-select(none);
	position: relative;
	height: 13em;
	color: #fff;
	text-align: center;
	display: inline-block;
	float: none;
	overflow: hidden;
	-webkit-tap-highlight-color: rgba(0,0,0,0);

	@include media(max-width 480px, 1) {
		@include span-columns(1);
		height: 8em !important;
		margin: 0 0 1px 0;

		.project-item__title{
			font-size: 1.6em !important;
		}
	}

	&.hidden{
		-webkit-transform: translate3d(0, 0, 0);
	}

	&:hover{
		.project-item__title{
			@include transform(translate(0, -1rem));

			&:after{
				opacity: .7;
			}
		}
	}
	&:active{
		@include transform(scale(.96));

		.project-item__cover{
			@include transform(scale(1.04));
			opacity: .5;
		}
		.project-item__title{
			@include transform(translate(0, -1rem));
		}
	}
	a, a:hover{
		color: #fff;
	}
	&.peakfoods{
		background-color: $peakfoods;

		.project-item__cover{
			background-image: url(/images/project_photos/peakfoods-thumb.jpg);
		}
	}
	&.bpn{
		background-color: $bpn;

		.project-item__cover{
			background-image: url(/images/project_photos/bpn-thumb.png);
		}
	}
	&.aristonjacks{
		background-color: $aristonjacks;

		.project-item__cover{
			background-image: url(/images/project_photos/aristonjacks-thumb.jpg);
		}
	}
	&.forge{
		background-color: $forge;

		.project-item__cover{
			background-image: url(/images/project_photos/forge-thumb2.jpg);
		}
	}
	&.streetsync{
		background-color: $streetsync;

		.project-item__cover{
			background-image: url(/images/project_photos/streetsync-thumb.png);
		}
	}
	&.stats{
		background-color: $stats;

		.project-item__cover{
			background-image: url(/images/project_photos/stats-thumb.jpg);
		}
	}
	&.vuact{
		background-color: $vuact;

		.project-item__cover{
			background-image: url(/images/project_photos/vuact-thumb.jpg);
		}
	}

}

/*********************  Cover & Title */

.project-item__cover, .project-item__title{
	@include transition(all .13s $ease-in-out-quad);
}
.project-item__cover{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: .2;
	background-position: 0;
	background-size: cover;
	z-index: 1;
}
.project-item__title{
	position: relative;
	font-size: 1.8rem;
	font-weight: 200;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: -1rem;
	z-index: 2;
	cursor: pointer;
	@extend %midspeed-transition;

	&:after{
		content: 'view details →';
		display: block;
		font-size: 1.1rem;
		font-style: italic;
		font-family: 'Palatino', 'Palatino Linotype', sans-serif;
		opacity: 0;
		@include transition(all .25s ease);
	}
}



/*  Project Details View
--------------------------------------------------------------------------------------------*/

.project-nav{
	@extend %vertically-center-children;
	@extend %midspeed-transition;
	position: relative;
	text-align: center;
	font-size: 1em;
	z-index: 999;
	background: rgba(255,255,255,0.96);
	top: -25px;

	&.bottom{
		margin: 0 auto 50px;
	}
	a{
		@extend %quick-transition;
		position: relative;
		display: inline-block;
		vertical-align: middle;
		padding: 1.3em 0;
		font-weight: 600;

		&:hover{


		}
		span{
			color: #aaa;
		}
	}
	.prev, .next{
		position: absolute;
	}
	.prev{
		left: 2%;
		text-align: left;
	}
	.root{
		text-align: center;
		padding: 1em;
		font-size: 1.2em;
	}
	.next{
		right: 2%;
		text-align: right;
	}
}

/*********************  Project Title */

.project-title{

	float: left;
	display: block;
	width: 100%;
	text-align: center;
	margin-bottom: 25px;
	line-height: 1;

	h1{
		@extend %sans-serif;
		text-transform: none;
		font-size: 2.3em;
		margin: 0 0 14px;
		letter-spacing: -1px;
		font-weight: 700;
	}
	h2{
		font-size: 1.2em;
		font-weight: 200;
		color: #888;
		margin: 8px 0;
		text-transform: none;

	}
}

/*********************  Photo Slider */

.carousel{
	width: 500px;
	height: 800px;
}

/*********************  Project Details */

.project-details{
	@include outer-container;
	@include clearfix;
	margin: 20px auto 30px;
	position: relative;
	text-align: center;

	@include media(max-width 480px, 1) {
		.background, .contributions{
			@include span-columns(12);
			@include shift(0);
		}
	}
	h3{
		@extend %sans-serif;
		font-size: 1.4em;
		font-weight: 700;
		text-align: center;
	}
	.background, .contributions{
		@include span-columns(8);
		@include shift(2);
		text-align: left;
		font-size: 1.2em;
		line-height: 1.5;
	}
	.background{
		margin-bottom: 30px;
	}
	.contributions{
		line-height: 2;

		ul{
			float: left;
			margin: 0;
			list-style-type: square ;
		}
	}

}
