$column: golden-ratio(1em, 3) !default; // Column width
$gutter: golden-ratio(.1em, 1) !default; // Gutter between each two columns
$grid-columns: 12 !default; // Total number of columns in the grid
$max-width: em(1088) !default; // Max-width of the outer container
$border-box-sizing: true !default; // Makes all elements have a border-box layout
$default-feature: min-width; // Default @media feature for the breakpoint() mixin
$default-layout-direction: LTR !default;


/*  Global Colors
--------------------------------------------------------------------------------------------*/

$themeColorPrimary: #ABD267;
$themeColorSecondary: #091038;


/*  Project Colors
--------------------------------------------------------------------------------------------*/

$bpn: #337988;
$streetsync: #947633;
$aristonjacks: #4B7A33;
$peakfoods: #4A220C;
$stats: #555;
$forge: #90260A;
$vuact: #433775;


// $visual-grid: true;