@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "variables";
@import "../bower_components/normalize-scss/normalize";
@import "../bower_components/neat/app/assets/stylesheets/neat";
@import "project-thumbs";
@import "projects";
@import "carousel";


body{
  font-family: "Palatino", Helvetica, Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-header{
  background-image: url(../images/layout/bg-page-header.jpg);
  background-size: cover;
  height: 400px;
  width: 100%;
  margin-bottom: 0;

  a{
    color: #c3f777;
    text-decoration: none;
  }
}

.me{
  display: inline-block;
  width: 120px;
  height: 120px;
  border-radius: 4px;
  border: 1px solid #c3f777;
}
.page-header-content{
  text-align: center;
  color: #fff;
  padding-top: 4em;

  span{
    display: block;
  }
  .name{
    font-size: 2.5em;
    margin: .2em 0 .1em;
  }
  .occupation{
    font-size: 1.5em;
    font-style: italic;
    font-weight: 100;
  }
  .links{
    list-style-type: none;
    margin: 0;
    padding: 0;

    &:before{
      content: "––––––––";
      color: #c3f777;
      opacity: .5;
      display: block;
      margin: .5em 0 .8em;
    }

    li{
      display: inline-block;
      padding: 0 .8em;
    }

  }
}

.page-content{
  margin: 70px 0;
}



.current-work, .past-work, .about-me{
  @include outer-container;
}
section{
  margin: 0 0 90px 0;
}
section header{
  text-align: center;
  font-style: italic;
  font-family: Palatino;
  font-size: 1.3em;
  color: #777;

  &:after{
    content: "––";
    color: #ddd;
    display: block;
    margin: .2em 0 .5em;
  }
}

.notice{
  position: relative;
  width: 100%;
  background: rgba(169, 205, 89, 0.95);
  padding: .8em 0;
  text-align: center;
  font-size: 1.4em;
  z-index: 999;
  color: #313E17;
}




.current-work{
  .project-item{
    @include span-columns(6);
    @include omega(2n);
  }
}

.about-me{
  .photo{
    @include span-columns(5);
    img{
      max-width: 100%;
    }
  }
  .text{
    @include span-columns(7);
    padding: 0 0 0 50px;
    line-height: 1.5;
    font-size: 1.2em;
    color: #444;

    p{
      font-size: 1.4em;
      line-height: 1.4em;
      color: #444;
      margin: 0 0 12px 0;
    }
  }
}


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
